**/bin
**/obj
**/packages/
.DS_Store
**/.idea/
**/SwipeViewFramework.framework/**
**/xcuserdata/
**/Pods/**
**/*.xcuserstate
Adobe XD/Tutorials/Angga Risky/Discover/iOS/Discover/Discover.xcodeproj/project.pbxproj
Adobe XD/Tutorials/Angga Risky/Discover/iOS/Discover/Discover.xcodeproj/project.xcworkspace/xcuserdata/vijay.xcuserdatad/UserInterfaceState.xcuserstate
Adobe XD/Tutorials/Angga Risky/Discover/iOS/Discover/Discover.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Adobe XD/Tutorials/Angga Risky/Discover/iOS/Discover/Discover.xcodeproj/project.pbxproj
Adobe XD/Tutorials/Angga Risky/Discover/iOS/Discover/Discover.xcodeproj/project.xcworkspace/xcuserdata/vijay.xcuserdatad/UserInterfaceState.xcuserstate
